/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/coproid -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input        = "${projectDir}/tests/data/samplesheet.csv"
    genome_sheet = "${projectDir}/tests/data/genomesheet.csv"
    sam2lca_db   = "$HOME/.sam2lca"
    kraken2_db   = "${projectDir}/tests/data/kraken2"
    sp_sources   = "${projectDir}/tests/data/sourcepredict/test_sources.csv"
    sp_labels    = "${projectDir}/tests/data/sourcepredict/test_labels.csv"

    // outdir

    outdir = "test_results"
}

process {
    withName: 'SAM2LCA_ANALYZE' {
        ext.args = '-a test_coproid'
    }
}
